@import "variables";
@mixin flex($fd: row, $js: center, $al: center){
  display: flex;
  flex-direction: $fd;
  justify-content: $js;
  align-items: $al;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 75%; //1rem = 12px
  font-family: var(--font);
  @include flex();
  min-height: 100vh;
  background-image: linear-gradient(to bottom, var(--soft-violet), var(--soft-blue));
}

img{
  max-width: 100%;
  display:block;
}

// <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

//custom styling**************

.grid{
  &__container{
    display: grid;
    height: 70vh;
    background-color: #fff;
  }


  }
