:root{
  //colors
--clr-dark-gray-blue:  hsl(217, 19%, 35%);
--clr-dark-blue: hsl(214, 17%, 51%);
--clr-gray-blue:  hsl(212, 23%, 69%);
--clr-light-gray-blue:  hsl(210, 46%, 95%);
--clr-white: #fff;
--clr-black: #000;

//font
--fn-family: 'Manrope', cursive;
--fn-size: 77%; //1rem = 13px
--fn-bold: 700;
--fn-light: 500;

//screensizes
//$landscape-size: 68.8em; //1100px

}

//$mobile-size: 24em;
