@import "utilities";

.grid {
  &__container {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(25rem , 1fr));
  }

  &__box {
    &-1 {
  
      }

    &-2 {

      // border: 7px solid red;
    }
  }
}
