@mixin flex($flex-dir: row, $just: center){
  display:flex;
  flex-direction: $flex-dir;
  align-items: center;
  justify-content: $just;
}

@mixin min-size( $height , $width){
  min-height: $height;
  min-width: $width;
}

@mixin size( $height , $width){
  height: $height;
  width: $width;
}

@mixin shadow($x:0, $y: 4px, $blur: 10px, $shade: .6){
  box-shadow: $x $y $blur rgba(0,0,0, $shade);
}
