:root{
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
  --slider-background: #0C1531;

  --font: 'Raleway', sans-serif;
  --fw-light: 400;
  --fw-dark: 700;

  --gradient:   hsl(6, 100%, 80%) to hsl(335, 100%, 65%)

  --mobile-size: 24em;
  --desktop-size: 91em;
}
